<h1>User Manager</h1>

<div id="users_index">	
	<table>
		<tr>
			<th id="header_width">Name</th>
			<th id="header_width">Email</th>
			<th></th>
			<th></th>
		</tr>
		
		<tr>
			<td>Giovanni Schuoler</td>
			<td>giovanni.schuoler0114@yearup.org</td>
			
			<td>
				<button id="table_button" type="button">Edit</button>
			</td>
			
			<td>
				<button id="table_button" type="button">Delete</button>
			</td>
		</tr>
	</table>	
</div>

<div id="table_footer">
				<button id="table_button" type="button"><%= link_to "Add User", users_new_path %></button>
</div>