<h1>User Manager</h1>

<div id="users_index">	
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		
		<tr>
			<td>Name Placeholder</td>
			<td>Email Placeholder</td>
			
			<td>
				<button id="large_button" type="button">Edit</button>
			</td>
			
			<td>
				<button id="large_button" type="button">Delete</button>
			</td>
		</tr>
	</table>
</div>
