<% if @user.errors.any? %>
	<div id="error_explanation">
		<ul><strong><%= pluralize(@user.errors.count, "Error") %></strong>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
