<!DOCTYPE html>
<html>
	<h1 style="color: #D68F01; text-shadow: 1px 1px black; padding-top: 20px;">
		Please send feedback, requests or bug reports to <b>gschuoler@gmail.com</b>
		<br />
		or submit them at this <a href="https://github.com/Avengous/Student-Tracker/issues/new" style="color: purple; text-decoration: underline;">GitHub repository.</a>
	</h1>
</html>
