/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#ticket_index_table {
	text-align: center;
}

table {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px black;
	text-align: left;
	display: inline-block;
	width: 0 auto;
}

table th {
	font-size: 15px;
	text-align: left;
	padding-right: 10px;
}

table td {
	font-size: 13px;
	cursor: pointer;
}

/* Form Options */
#new_ticket div.field {
	
}

form {
	width: 500px;
}

label {
	width: 500px;
}

#ticket_title {
	float: left;
	width: 500px;
}

#ticket_status {
	width: auto;
	float: left;
}

#ticket_description {
	width: 500px;
	height: 15em;
}

#ticket_assigned_user_id {
	width: auto;
	float: left;
}

#ticket_student_id {
	width: auto;
	float: left;
}

#ticket_status_label {
	float: left;
	width: 85px;
}

#ticket_student_label {
	width: 106px;
	float: left;
}

#ticket_assigned_label {
	float: left;
	width: 132px;
}

#ticket_form_center_status {
	width: 100%;
}

#ticket_form_center_status_inner {
	margin: 0 auto;
	width: 100%
}

/* Show View */
div.tickets_show #description {
	width: auto;
}

div.tickets_show #description_inner {
	width: 100%;
}

div.tickets_show header {
	padding: 0;
    margin: auto 150px auto 150px;
	background-color: white;
	border:2px solid black;
	border-radius:25px;
}

div.tickets_show h1 {
	background-color: #D68F01;
	border-radius: inherit;
	margin: 0;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px black;
}

div.tickets_show #description_inner h2 {
	display: inline;
	background-color:#D68F01;
	padding: 0 5px 0 5px;
	margin-right: 10px;
	border: 2px solid black;
	font-size: 12px;
}

div.tickets_show #description_inner {

}

div.tickets_show #description {
	height: auto;
	padding: 10px 10px 10px 10px;
    margin: 3px 150px auto 150px;
	background-color: white;
	border:2px solid black;
	border-radius:25px;
}

/* Comments */

#comments {
	border-top: 2px solid black;
}	

#comment_response {
	width: 400px;
	height: 7em;
}

#comments_creator {
	text-decoration:underline;
}

#comments_highlight:hover {
	background-color: #CCCCCC;
	border: 1px solid black;
}
