#users_index {
	text-align: center;
	font-size: 14px;
}

h1 {
	text-align: center;
}

td, th {
	padding-right: 5px;
	padding-left: 5px;
}

table {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px black;
	text-align: left;
	display: inline-block;
	width: 0 auto;
	border-collapse: collapse;
}

tr th {
	border-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

#table_footer {
	width: 42%;
	margin: 0 auto;
	text-align: right;
}

div.row {
	padding-bottom: 30px;
}

#user_entries {
	display: inline-block;
	width: 400px;
	height: 300px;
	float:none;
}

#multi_user_text_field {
	width: auto;
	text-align: left;
	vertical-align: top;
}

#multi_user_text_field form {
	width: 400px;
}

div.notice {
	text-align: center;
	color: red;
}

#admin_field_width {
	width: 50px;
}

#user_admin {
	float: left;
}


/* Show View */
div.user_show_container {
	text-align: center;
	display: block;
	margin: auto 150px auto 150px;
	padding: 10px 10px 10px 10px;
	width: auto;
}

div.user_show_container h2 {
	font-size: 15px;
	margin: 0;
	background-color: #D68F01;
	border: 1px solid black;
	text-align: center;
}

div.user_show_center h1 {
	width: auto;
	margin: auto 30% auto 30%;
	background-color: #D68F01;
	border: 2px solid black;
	border-radius: 25px;
	color: white;
	text-shadow: 2px 2px black;
}

div.user_show_inner {
	display: inline-block;
	width: 100%;
}

#tickets_section, #laptops_section {
	width: auto;
	display: inline-block;
	text-align: left;
	margin: 0 15px 0 15px;
}

#laptops_section {
	vertical-align: top;	
}

#ticket_listing {
	font-size: 15px;
}

#user_show_table {
	padding-top: 0;
}

#user_show_table th {
	font-size: 12px;
}


