#users_index {
	text-align: center;
	font-size: 14px;
}

h1 {
	text-align: center;
}

td, th {
	padding-right: 5px;
	padding-left: 5px;
}

table {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px black;
	text-align: left;
	display: inline-block;
	width: 0 auto;
	border-collapse: collapse;
}

tr th {
	border-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

#table_footer {
	width: 42%;
	margin: 0 auto;
	text-align: right;
}

div.row {
	padding-bottom: 30px;
}

#user_entries {
	display: inline-block;
	width: 400px;
	height: 300px;
	float:none;
}

#multi_user_text_field {
	width: auto;
	text-align: left;
	vertical-align: top;
}

#multi_user_text_field form {
	width: 400px;
}

div.notice {
	text-align: center;
	color: red;
}

#admin_field_width {
	width: 50px;
}

#user_admin {
	float: left;
}
