#users_index {
	width: 42%;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	padding-bottom: 3px;
}

h1 {
	text-align: center;
}

td, th {
	padding-right: 5px;
	padding-left: 5px;
}

table {
	border-collapse: collapse;
}

tr th {
	border-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

#table_footer {
	width: 42%;
	margin: 0 auto;
	text-align: right;
}


div.row {
	padding-bottom: 30px;
}
