<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<%= render "layouts/stylesheets" %>
</head>

<header id="logo"></header></td>

<div id="appname">
	Student Tracker
</div>

<body>
	<div class="container">
		<header>
			<%= render "layouts/navbar" %>
		</header>
	<%= yield %>
	</div>
</body>
</html>
