<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<%= render "layouts/stylesheets" %>
</head>

<div id="container">
	<header id="logo"></header></td>
	<div id="appname">Student Tracker</div>

	<body>
		<div class="container">
			<header>
				<%= render "layouts/navbar" %>
			</header>
		<%= yield %>
		</div>
	</body>

	<footer>
		
	</footer>
</div>
</html>
